/* Write your CSS here */
.main-bg {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}

/* img {
  height: 400px;
  width: 600px;
} */

button {
  padding: 10px;
  color: white;
  background-color: blue;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
